site_name: Solo Leveling Wiki

nav:
  - Inicio: index.md
  - About: about.md

theme:
  name: material
  language: es
  palette:
    primary: deep purple
    accent: amber
  font: 
    code: Roboto Mono
